{% extends 'modelo.html' %}

{% block conteudo %}

<div class="d-flex flex-grow-1 justify-content-center main-background">
  <div class="d-flex justify-content-around w-100 align-items-center g-5" id="adm">
    <div class="w-100 d-flex text-break align-items-center" id="admDiv" style="max-height: 25em;">
      <div class="col-md-6 d-flex justify-content-center">
        <a href="/cadastrarlivro" style="text-decoration: none;">
          <button id="addLivro"
            class="admButton btn btn-primary d-flex flex-column align-items-center justify-content-center">
            <img src="/static/img/adicionar.png">
            <span>ADICIONAR LIVROS</span>
          </button>
        </a>
      </div>

      <div class="d-flex flex-column align-items-center mb-4 mt-4 w-100" style="max-height: 25em;">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="container mt-4">
          {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="btn" style="opacity: 1;" class="btn-close d-flex justify-content-center align-items-center text-center" data-bs-dismiss="alert" aria-label="Close"><i class="bi bi-x text-white"></i></button>
          </div>
          {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <p class="text-white text-center">Usuários em 1° na lista de espera</p>
        {% if usuarios %}
        <div id="overflowTable" style="overflow-y: auto; border-radius: 10px;">
          <table class="text-white table table-bordered text-center">
            <thead>
              <tr style="background-color: #255EAF;">
                <th class="w-25">Nome</th>
                <th class="w-25">Livro</th>
                <th class="w-25">Série</th>
                <th class="w-25">Ações</th>
              </tr>
            </thead>
            <tbody class="bg-white text-dark">
              {% for usuario in usuarios %}
              <tr>
                <td>{{ usuario['nome'] }}</td>
                <td class="text-break">{{ usuario['titulo_livro'] }}</td>
                <td>{{ usuario['serie'] }}</td>
                <td>
                  <a href="/emprestimo/{{usuario['idListaEspera']}}">
                    <button class="btn btn-success btn-sm w-100" type="submit">Fazer Empréstimo</button></a>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <p class="text-white">Não há usuários nas listas de espera!</p>
        {% endif %}
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <a href="/cadastraraluno" style="text-decoration: none;">
          <button id="addAluno"
            class="admButton btn btn-primary btn-lg d-flex flex-column align-items-center justify-content-center"
            id="admButton">
            <img src="/static/img/veralunos.png">
            <span>CADASTRAR ALUNOS</span>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

<script src="/static/script.js"></script>

{% endblock %}