{% extends 'modelo.html' %}

{% block conteudo %}

<div class="container mt-5">
  <div class="d-flex align-items-center justify-content-between w-100">
    <h2>
      <p class="alunos" style="font-size: 0.7em;">Alunos</p>
    </h2>
    <div class="d-flex align-items-center">
      <div class="d-flex justify-content-around align-items-center fs-5">
        <a href="/cadastraraluno">
          <button id="cadAluno" class="p-1">
            <img src="/static/img/user.png" alt="">Cadastrar aluno
          </button>
        </a>
      </div>
      <img src="/static/img/iconeSETTINGS.png" height="80px" class="ms-3">
    </div>
    </h2>
  </div>

  <div class="row row-cols-1 row-cols-md-4 g-4 mb-5 mt-3">
    <div class="col">
      <div class="book-card">
        <img src="https://img.freepik.com/fotos-premium/fundo-azul-solido_1332213-28603.jpg" alt="Don Quijote"
          class="book-image">
        <div class="book-footer">
          <p>Igor <br> Ensino Médio</p>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="book-card">
        <img src="https://img.freepik.com/fotos-premium/fundo-azul-solido_1332213-28603.jpg" alt="Don Quijote"
          class="book-image">
        <div class="book-footer">
          <p>Davi <br> Ensino Médio</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="book-card">
        <img src="https://img.freepik.com/fotos-premium/fundo-azul-solido_1332213-28603.jpg" alt="Don Quijote"
          class="book-image">
        <div class="book-footer">
          <p>Luiz Henrique <br> Ensino Médio</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="book-card">
        <img src="https://img.freepik.com/fotos-premium/fundo-azul-solido_1332213-28603.jpg" alt="Don Quijote"
          class="book-image">
        <div class="book-footer">
          <p>Maria Luísa <br> Ensino Médio</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="book-card">
        <img src="https://img.freepik.com/fotos-premium/fundo-azul-solido_1332213-28603.jpg" alt="Don Quijote"
          class="book-image">
        <div class="book-footer">
          <p>Maria Eduarda <br> Ensino Médio</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="book-card">
        <img src="https://img.freepik.com/fotos-premium/fundo-azul-solido_1332213-28603.jpg" alt="Don Quijote"
          class="book-image">
        <div class="book-footer">
          <p>Maria Clara <br> Ensino Médio</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="book-card">
        <img src="https://img.freepik.com/fotos-premium/fundo-azul-solido_1332213-28603.jpg" alt="Don Quijote"
          class="book-image">
        <div class="book-footer">
          <p>Nicolly <br> Ensino Médio </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="book-card">
        <img src="https://img.freepik.com/fotos-premium/fundo-azul-solido_1332213-28603.jpg" alt="Don Quijote"
          class="book-image">
        <div class="book-footer">
          <p>Nicolas <br> Ensino Médio</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}