{% extends 'modelo.html' %}
{% block conteudo %}

<form action="/cadlivro" method="POST" enctype="multipart/form-data">
  <div class="container" id="container">
    <div class="d-flex ms-4">
      <div class="flex-column w-50 ">

        <h2 class="titulos mb-2">Titulo</h2>
        <input type="text" id="titulo" name="titulo" placeholder="Insira o título..." />

        <h2 class="titulos mb-2">Descrição</h2>
        <textarea id="descricao" name="descricao" class="text-start ps-2 pt-2" placeholder="Insira um resumo do livro..."></textarea>

        <h2 class="titulos mb-2">Editora</h2>
        <input id="editora" type="text" name="editora" placeholder="Insira a editora...">

        <h2 class="titulos mb-2" for="imagemCapa">Selecione a imagem da capa:</h2>
        <input class="selecionar" type="file" name="imagemCapa" id="imagemCapa">

      </div>

      <div class="flex-column w-50 ms-5">

        <h2 class="titulos mb-2">Número de páginas</h2>
        <input type="number" id="numero_paginas" name="numero_paginas" placeholder="Insira o número de páginas..." />

        <h2 class="titulos mb-2">Ano de publicação</h2>
        <input type="number" id="anoPublicacao" name="anoPublicacao" placeholder="Insira o ano de publicação" />

        <h2 class="titulos mb-2">Quantidade disponível</h2>
        <input type="number" id="quantidade" name="quantidade" placeholder="Insira a quantidade disponível" />

        <h2 class="titulos mb-2">Gênero</h2>
        <select class="ls-custom-select col-md-8" id="genero" name="genero">
          <option value="acao">Ação</option>
          <option value="acao">Romance</option>
          <option value="acao">Comédia</option>
        </select>

        <button class="Subir" type="submit">
          <img src="/static/img/baixar.png" alt="baixar" style="margin-right: 10px; height: 20px;">SUBIR</button>


      </div>

    </div>
  </div>
</form>

{% endblock %}