{% extends 'modelo.html' %}

{% block conteudo %}

<form action="/cadeditora" method="POST">
    <div class="container" id="container">
        <div class="d-flex ms-4">
            <div class="flex-column w-50 ">
                <label for="">Cadastre uma nova editora</label>
                <input type="text" name="editora">
            </div>
        </div>
        <button type="submit">Enviar</button>
    </div>

    <div>
        {% if not editoras %}
        <p>Não há editoras cadastradas!</p>
        {% else %}
        {% for editora in editoras %}
        <p>{{editora['nomeEditora']}}</p>
        {% endfor %}
        {% endif %}
    </div>
</form>

{% endblock %}