{% extends 'modelo.html' %}

{% block conteudo %}
<form action="/adicionar_livro" method="POST" enctype="multipart/form-data">
  <div class="container" id="container">
    <div class="form-container sign-in">
      <form action="" method="post">
        <h2>Titulo</h2>
        <input name="email" id="email" type="text" placeholder="Insira o Título">
        <h2>Sínopse</h2>
        <input name="senha" id="senha" type="password" placeholder="Insira um resumo do livro">
        <h2>Editora</h2>
        <input name="email" id="email" type="text" placeholder="Todavia">
        <h2>Titulo</h2>
        <input name="email" id="email" type="text" placeholder="Titulo">
        <br>
        <button type="submit" onclick="entrar()">Entrar</button>
      </form>
    </div>
  </div>
</form>

{% endblock %}