{% extends 'modelo.html' %}

{% block conteudo %}
<div class="container mt-5 mb-5" style="font-size: 20px;">  
    <div class="d-flex align-items-center">
        <i class="bi bi-card-checklist"></i>
        <p style="margin:10px;">Lista de Espera</p>
    </div>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome do Aluno</th>
                <th>RM</th>
                <th>Série</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Maria Luísa Marcondes Nunes</td>
                <td>1234</td>
                <td>3ª Ensino Médio</td>
            </tr>
            <tr>
                <td>Davi Gabriel Carvalho Nunes Silva</td>
                <td>7674</td>
                <td>3ª Ensino Médio</td>
            </tr>
            <tr>
                <td>Igor de Almeida Verneque</td>
                <td>3456</td>
                <td>3ª Ensino Médio</td>
            </tr>
            <tr>
                <td>Luiz Henrique Fernandes Yamasaki</td>
                <td>7654</td>
                <td>3ª Ensino Médio</td>
            </tr>
        </tbody>
    </table>
</div> 
{% endblock %}
