{% extends 'modelo.html' %}

{% block conteudo %}

  <div class="container mt-5">
    <div class="d-flex m-3">
      <img src="/static/img/bookicon.png" id="bookicon" class="me-3">
      <p>Livros</p>
    </div>
    <div class="livros row row-cols-1 row-cols-md-4 g-4">
      <div class="col">
        <div class="book-card">
          <img src="/static/img/livro.png" alt="Don Quijote" class="book-image">
          <div class="book-footer">
            <p>Don Quijote <br> Cervantes</p>
            <p class="stars">★★★★★</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="book-card">
          <img src="/static/img/livro.png" alt="Don Quijote" class="book-image">
          <div class="book-footer">
            <p>Don Quijote <br> Cervantes</p>
            <p class="stars">★★★★★</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="book-card">
          <img src="/static/img/livro.png" alt="Don Quijote" class="book-image">
          <div class="book-footer">
            <p>Don Quijote <br> Cervantes</p>
            <p class="stars">★★★★★</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="book-card">
          <img src="/static/img/livro.png" alt="Don Quijote" class="book-image">
          <div class="book-footer">
            <p>Don Quijote <br> Cervantes</p>
            <p class="stars">★★★★★</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="book-card">
          <img src="/static/img/livro.png" alt="Don Quijote" class="book-image">
          <div class="book-footer">
            <p>Don Quijote <br> Cervantes</p>
            <p class="stars">★★★★★</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="book-card">
          <img src="/static/img/livro.png" alt="Don Quijote" class="book-image">
          <div class="book-footer">
            <p>Don Quijote <br> Cervantes</p>
            <p class="stars">★★★★★</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="book-card">
          <img src="/static/img/livro.png" alt="Don Quijote" class="book-image">
          <div class="book-footer">
            <p>Don Quijote <br> Cervantes</p>
            <p class="stars">★★★★★</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="book-card">
          <img src="/static/img/livro.png" alt="Don Quijote" class="book-image">
          <div class="book-footer">
            <p>Don Quijote <br> Cervantes</p>
            <p class="stars">★★★★★</p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}