{% extends 'modelo.html' %}

{% block livros %}
<li class="menu-item"><a href="/redirecionar">Home</a></li>
<li class="menu-item"><a href="/contato">Contato</a></li>
{% endblock %}

{% block conteudo %}

<div class="curved px-5 pt-3">
  <h1 class="text-start">Dom Quixote de la Mancha</h1>
  <h3 class="text-start">Autor</h1>
</div>

<div class="container mt-5">
  <div class="m-3 w-100">
    <div class="d-flex align-items-center">
      <img src="/static/img/bookicon.png" id="bookicon" class="me-3">
      <p class="m-0">Livros</p>
    </div>
  </div>

  <div class="livros row row-cols-1 row-cols-md-4 g-4 mb-5">
    {% for livro in livros %}
    <div class="col">
      <a href="/livro/{{ livro.idLivro }}">
        <div class="book-card">
          <img src="/static/img/livros/{{ livro.imagemCapa }}" alt="Livro {{ livro.titulo }}" class="book-image">
          <div class="book-footer">
            <p>{{ livro.titulo }} <br> {{ livro.autor }}</p>
           
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}