{% extends 'modelo.html' %}
{% block conteudo %}

<link rel="stylesheet" href="/static/livroR.css">

<div class="container">
    <div class="grid-livros">
        <div class="livro">
            <img src="/static/img/livro.png" alt="Don Quixote de la Mancha">
            <h2>DON QUIJOTE DE LA MANCHA</h2>
            <button> <i class="bi bi-book-half"></i>
                CANCELAR RESERVA</button>
        </div>

        <div class="livro">
                <img src="/static/img/livro.png" alt="Don Quixote de la Mancha">
                <h2>DON QUIJOTE DE LA MANCHA</h2>
                <button> <i class="bi bi-book-half"></i>
                    CANCELAR RESERVA</button>
            </div>

            <div class="livro">
                <img src="/static/img/livro.png" alt="Don Quixote de la Mancha">
                <h2>DON QUIJOTE DE LA MANCHA</h2>
                <button><i class="bi bi-book-half"></i>
                    CANCELAR RESERVA</button>
            </div>

        <div class="livro">
            <img src="/static/img/livro.png" alt="Don Quixote de la Mancha">
            <h2>DON QUIJOTE DE LA MANCHA</h2>
            <button> <i class="bi bi-book-half"></i>
                CANCELAR RESERVA</button>
        </div>

        <div class="livro">
            <img src="/static/img/livro.png" alt="Don Quixote de la Mancha">
            <h2>DON QUIJOTE DE LA MANCHA</h2>
            <button> <i class="bi bi-book-half"></i>
                CANCELAR RESERVA</button>
        </div>

        <div class="livro">
            <img src="/static/img/livro.png" alt="Don Quixote de la Mancha">
            <h2>DON QUIJOTE DE LA MANCHA</h2>
            <button> <i class="bi bi-book-half"></i>
                 CANCELAR RESERVA</button>
        </div>

        <div class="livro">
            <img src="/static/img/livro.png" alt="Don Quixote de la Mancha">
            <h2>DON QUIJOTE DE LA MANCHA</h2>
            <button> <i class="bi bi-book-half"></i>
                 CANCELAR RESERVA</button>
        </div>

        <div class="livro">
            <img src="/static/img/livro.png" alt="Don Quixote de la Mancha">
            <h2>DON QUIJOTE DE LA MANCHA</h2>
            <button> <i class="bi bi-book-half"></i>
                 CANCELAR RESERVA</button>
        </div>

    
    </div>
</div>

{% endblock %}
