{% extends 'modelo.html' %}

{% block conteudo %}

<div class="curved">

  <p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#212529" fill-opacity="1" d="M0,64L80,58.7C160,53,320,43,480,80C640,117,800,203,960,240C1120,277,1280,267,1360,261.3L1440,256L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg></p>
</div>

<div class="container mt-5">
  <div class="m-3 w-100">
    <div class="d-flex align-items-center">
      <img src="/static/img/bookicon.png" id="bookicon" class="me-3">
      <p class="m-0">Livros</p>
    </div>
  </div>

  <div class="livros row row-cols-1 row-cols-md-4 g-4 mb-5">
    {% for livro in livros %}
    <div class="col">
      <a href="/livro/{{ livro.idLivro }}">
        <div class="book-card">
          <img src="/static/img/livros/{{ livro.imagemCapa }}" alt="Livro {{ livro.titulo }}" class="book-image">
          <div class="book-footer">
            <p>{{ livro.titulo }} <br> {{ livro.autor }}</p>
            <p class="stars">{{ livro.avaliacao }}★★★★★</p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}