{% extends 'modelo.html' %}

{% block livros %}
<li class="menu-item"><a href="/redirecionar">Home</a></li>
<li class="menu-item"><a href="/contato">Contato</a></li>
{% endblock %}

{% block conteudo %}

<div class="bg-dark p-2">
    <div class="d-flex justify-content-between w-100">
        <h1 id="tituloLivro" class="text-white">{{ livro.titulo }}</h1>
    </div>
    <p id="autorLivro" class="mt-1 text-white">{{ livro.nomeAutor }}</p>
</div>
<div class="container">
    <div class="row my-5">
        <div class="col-md-3 d-flex align-items-center">
            <img src="/static/img/livros/{{ livro.imagemCapa }}" id="imagemLivro" alt="{{ livro.titulo }}"
                class="img-fluid w-75 mb-5">
        </div>
        <div class="col-md-9">
            <div class="d-flex justify-content-between align-items-center">
                <button class="btn btn-primary px-5" id="reservaLivro" onclick="reservarLivro()"><i
                        class="bi bi-book-half me-2 fs-5"></i>RESERVAR</button>
                <p class="stars">★</p>
            </div>

            <h5 class="mt-4">DESCRIÇÃO</h5>
            <p>{{ livro.descricao }}</p>

            <div class="w-100 d-flex justify-content-end mt-5">
                <div class="d-flex justify-content-between w-100 text-center">
                    <div>
                        <h5>EDITORA:</h5>
                        <p>{{ livro.nomeEditora }}</p>
                    </div>
                    <div>
                        <h5>NÚMERO DE PÁGINAS:</h5>
                        <p>{{ livro.numero_paginas }}</p>
                    </div>
                    <div>
                        <h5>ANO DE PUBLICAÇÃO:</h5>
                        <p>{{ livro.anoPublicacao }}</p>
                    </div>
                    <div>
                        <h5>GÊNERO:</h5>
                        <p>{{ livro.genero }}</p>
                    </div>
                    <div>
                        <h5>QUANTIDADE DISPONÍVEL:</h5>
                        <p>{{ livro.quantidade }}</p>
                        <p>ID do Livro: {{ livro.idLivro }}</p>
                    </div>
                </div>
            </div>
            {% if session['nivelUsuario'] == 'admin' %}
            <div class="w-100 d-flex justify-content-between mt-5">
                <div class="d-flex flex-column text-center" id="buttonsAdm">
                    <a href="/editar/{{ livro.idLivro }}"><button id="reservaLivro" class="px-5 py-2 fs-3"><img
                                src="/static/img/edit.png" alt=""></button></a>
                    <h4 class="mt-2">EDITAR</h4>
                </div>
                <div class="d-flex flex-column text-center" id="buttonsAdm">
                    <button id="reservaLivro" class="px-5 py-2 fs-3" data-id="{{ livro.idLivro }}"
                        onclick="confirmarExclusao(this)">
                        <img src="/static/img/delete.png" alt="">
                    </button>
                    <h4 class="mt-2">EXCLUIR</h4>
                </div>
                {% endif %}
                <div class="d-flex justify-content-end">
                    <div class="text-center">
                        <a href="/listaespera/{{ livro.idLivro }}">
                            <img src="/static/img/listaespera.jpg" id="listaEspera" alt=""></a>
                        <h4 class="mt-2 fs-6">LISTA DE ESPERA</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}